body {
    margin: 0px;

    line-height: 1.5;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

#sections {
    padding-bottom: 20px;
}

.section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-top: 20px;
}

.br {
    height: 15px;
}

.bullet {
    text-indent: -11px;
    padding-left: 11px;
}

.tab {
    text-indent: 20px;
}

.title {
    flex-direction: row;
    display: flex;
    margin-bottom: 15px;
}

.title a {
    font-weight: bold;
    flex: 1;
    display: flex;
    color: black;
    text-decoration: none;
}

.title div {
    color: rgba(0, 0, 0, 0.5)
}

a {
    color: rgba(0, 0, 50, 0.75)
}

.h2 {
    font-weight: bold;
    font-size: 1.25em;
}

#content {
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

@media screen and (min-width: 620px) {
    #content {
        padding: 30px 0px;
    }
}